/*### HEADER ###*/

header {
  background: url("../../img/nathan-anderson-316188-unsplash_opt.jpg") no-repeat fixed center;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

#navbarNav {
  background: transparent !important;
}

#navbarNav a,
i {
  color: white;
}

#navbarNav a:hover,
i:hover {
  color: gray;
}

#bannerHeader {
  /* min-height: 400px; */
  padding-top: 8%;
  padding-bottom: 10%;
}

#bannerHeader i {
  color: black;
}

.titleFigure {
  top: 0px;
  padding: 8px;
  background-color: #080f5d;
  color: #fff;
  width: 92.3%;
}

.priceFigure {
  color: #080f5d;
  padding: 15px;
  top: 0px;
  right: 15px;
}

/* CSS Grid Layaout */

.containerCSSGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, minmax(16em,auto)); */
  grid-gap: 1em;
}

.item{
  position: relative;
}

.titleFigureGrid {
  position: absolute;
  top:0;
  background-color: #080f5d;
  color: #fff;
  padding-right: 50%;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.priceGrid{
  color: #080f5d;
  position: absolute;
  top:0;
  right:0;
  padding:1em;
}

button{
  position: relative;
  left: 150px
}
iframe{
  position: relative;
  float: left;
  left: 100px;
}
.formulario{
  position: relative;
  float :right;
}

#quienesSomos{
    background-image: url(../../img/back.jpeg);

}
#containerQuienesSomos{
  height: 500px;

}
#colocar{
    top: 100px;
    width: 400px;
    background-color: white;

}

.entrada1{
  margin-left: 20px;
}
.entrada2{
  margin-top: 10px;
  margin-left: 20px;
}
textarea{
  margin-top: 10px;
  margin-left: 20px;
}
form{
  margin-top: 20px;
}
#boton1 {
    background: #000;
    color: #fff;
 }
 #boton2 {
     background-color: #0B0B61;
     color:yellow;
     border-color:#0B0B61;
     margin-bottom: 20px;

  }
#prueba{
  /* background:red; */
}
#hr1{
  margin: 0;
  height:5px;
  width: 180px;
  background-color:yellow;
  border:none;
}
